@page "/"

@inject IRecipeService recipeData
@inject ICategoryService categoryData
@inject IUserService userData
@inject IJSRuntime jsRuntime
@inject NavigationManager NavManager


<PageTitle>Nada's Recipe App</PageTitle>

<body>
    <div>
        @*
        @if(RecipesList.Any())
        {
            @foreach(var recipe in RecipesList)
            {
            }
        }
        *@
        <h1>Welcome to Nada's Recipe App</h1>
            <a href="homePage">login</a>
    </div>
</body>
@code {
    private List<Recipe> RecipesList { get; set; } = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        if(await userData.CheckAuthentication())
        {
            RecipesList = await recipeData.GetRecipes();
            await base.OnInitializedAsync();
        }
        else
            NavManager.NavigateTo("loginPage");
    }
}
