@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="text-center container">
    <div class="text-center">
        <h1 class="display-1">Nada's Recipes</h1>
        <h2 class="display-4">What would you like to do today?</h2>
    </div>
</section>

<div class="p-2 row row-cols-2 bg-light">
    <div class="col">
        <div class="card shadow-sm">
            <img src="/images/recipes-min.jpg" class="card-img-top" alt="a sample food image">
            <div class="card-body">
                <h5 class="card-title">Recipes</h5>
                <p class="card-text">View, edit and add your favourite recipes!</p>
                <a asp-page="/Recipes/List" class="btn btn-dark">Recipes</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-sm">
            <img src="images/categories.jpg" class="card-img-top" alt="sample categories image">
            <div class="card-body">
                <h5 class="card-title">Categories</h5>
                <p class="card-text">View, edit and add different categories!</p>
                <a asp-page="/Categories/List" class="btn btn-dark">Categories</a>
            </div>
        </div>
    </div>
</div>
