@page
@model CategoriesAddModel
@{
    ViewData["Title"] = "Add category";
}

<section class="text-center container">
    <h1 class="display-1">Add Category</h1>
</section>
<div class="container bg-light p-4">
    <div class="row g-5">
        <div class="col-md-7 col-lg-8">
            <form method="post">
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="categoryName" class="form-label fs-4">Category name</label>
                        <input type="text" id="categoryName" class="form-control" asp-for="@Model.NewCategory.Name" />
                    </div>
                </div>
                <div class="py-2">
                    <input type="submit" class="btn btn-dark" value="Create category">
                </div>
            </form>
        </div>
    </div>
</div>