@page
@model IndexModel
@inject SweetAlertService Swal;
@{
    ViewData["Title"] = "Home page";
    var recipeUrl = @Model.MyUrl + "recipe";
    var recipePostUrl = @Model.MyUrl + "recipes";
    var categoriesUrl = @Model.MyUrl + "category";
}

<head>
    <script defer src="https://unpkg.com/@Html.Raw('@')alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@Html.Raw('@')alpinejs/focus@3.x.x/dist/cdn.min.js"></script>

    <script src="//unpkg.com/alpinejs" defer></script>
    <!-- Alpine Plugins -->
</head>
<div x-data="{recipeOpen: false}" x-intersect="recipeOpen = true">
    <header>
        <div class=" container-fluid text-center">
            <div class="row justify-content-center border-bottom">
                <div class="col-md-4 m-2">
                    <img src="images/logo-black.png" alt="logo" class="img-fluid">
                </div>
            </div>
            <div class="row justify-content-center border-bottom py-2">
                <div class=" col-sm-1">
                    <a href="#" class="text-black">Home</a>
                </div>
                <div class=" col-sm-1">
                    <a href="#recipeSection" x-on:click="recipeOpen=true" class="text-black">Recipes</a>
                </div>
                <div class=" col-sm-1">
                    <a href="#categoriesSection" class="text-black">Categories</a>
                </div>
            </div>
    </header>

    <div class="row pt-5 pb-3 mb-1 my-3 text-center justify-content-center ">
        <div class="col-md-6 px-0">
            <h3 class="display-6" style="color: #135C2D;">Welcome</h3>
            <h1 class="display-4 fst-italic" style="color: #135C2D;">Nada's Recipes Wesbsite</h1>
            <p class="lead my-3" style="color: #135C2D;">A simple website where you can store, edit, and delete your
                recipes and their
                different
                categories.</p>
            <p class="lead mb-3 mt-3" style="color: #135C2D;"><a href="#recipeSection" class="link-dark fw-bold"
                    x-on:click="recipeOpen = true" style="color: #135C2D;">Check
                    out your Recipes</a></p>
            <img src="/images/ArrowDown.svg" />
        </div>
    </div>
    <section style="background-color:#F1EEE8;" x-show="recipeOpen" x-trap="recipeOpen" id="recipeSection"
        x-transition.duration.700ms x-cloak>
        <div class="container text-center">
            <h1 class="display-4 pt-4 fst-italic lead">Recipes</h1>
            <p class="lead mt-3">Here you can find all the recipes you have stored in our website.</p>
        </div>
        <div x-data="RecipeData()" x-init="FetchRecipes()">
            <div class="container pb-4 pt-2">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 g-3">
                    <template x-for="recipe in recipes">
                        <div class="col " x-show="recipeOpen" x-transition.duration.1500ms>
                            <div class="card shadow-sm rounded-0" id="cardHover" x-on:click="whichRecipe=recipe.id">
                                <div class="card-body">
                                    <h5 class="card-title fs-4 mx-1" x-text="recipe.title"></h5>
                                    <template x-for="category in recipe.categories">
                                        <span class="badge rounded-pill p-1 mx-1" style="background-color:#135C2D;"
                                            x-text="category.name"></span>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="container text-center pb-3">
                <div class="row justify-content-lg-end">
                    <div class="col-md-4">
                        <a class="lead m-3 fw-bold link-dark" href="#creationForms" style="color: #135C2D;">You
                            can add new recipes
                            here...</a>
                    </div>
                </div>
            </div>
            <template x-for="recipePicked in recipes">
                <div class="row justify-content-center p-3 pb-4" x-show="whichRecipe === recipePicked.id"
                    x-transition.duration.400ms x-cloak x-on:click="whichRecipe = 0">
                    <div style="background-color: white;" id="recipePicked.id"
                        class="border-bottom round col-lg-9 shadow-lg pb-2">
                        <div class="row text-center justify-content-center">
                            <div class="col-sm-3  border-bottom ">
                                <h1 class="lead fs-2 pt-2" x-text="recipePicked.title"></h1>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class=" col-lg-4 rounded ps-5 pt-4">
                                <table class="table table-hover rounded shadow-sm text-center"
                                    style="background-color:#F1EEE8 ;">
                                    <thead>
                                        <tr>
                                            <th class="fs-4" style="color: #135C2D;">Ingredients</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template x-for="ingredient in recipePicked.ingredients">
                                            <tr>
                                                <td x-text="ingredient"></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-5 p-4">
                                <table class="table table-borderless">
                                    <thead class=" p-4">
                                        <tr>
                                            <th class="fs-4" style="color: #135C2D;">Instructions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template x-for="instruction in recipePicked.instructions">
                                            <tr>
                                                <td x-text="instruction"></td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </section>
</div>
<section style="background-color: white;" class="p-5" id="categoriesSection">
    <div class="container" x-data="CategoriesData()" x-init="FetchCategories()">
        <div class="row justify-content-center">
            <div class="col-lg-5" style="background-color: #2C7A48; color:white;">
                <h1 class=" fs-3 fw-bold lead p-3">Categories</h1>
                <p class="lead mt-3 px-3 fs-5">Here you can find all the categories you have stored in our website. You
                    can update each Category by clicking on it, or add a new category by clicking the button below. </p>

                <div class="row justify-content-center">
                    <div class="col justify-content-end">
                        <a class="btn btn-dark m-2" href="#creationForms" style="opacity:80%;">Add a new
                            Category</a>
                    </div>
                    <div class="col-sm-4 p-0">
                        <object data="/images/online-grocery.svg" width="150" height="150"> </object>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4 pt-4">
                    <template x-for="category in categoriesList">
                        <div class="col">
                            <div class="card shadow-sm myCard mb-3">
                                <div class="card-body text-center">
                                    <h5 class="card-title fs-6" x-text="category.name"></h5>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="background-image: url('images/formmd.jpg');" id="creationForms">
    <div class="container">
        <div class="row justify-content-center p-4">
            <div class="col-md-5">
                <div x-data="CategoriesData()" x-init="FetchCategories()">
                    <form method="post" x-data="RecipeToPost()" x-on:submit="PostRecipe()"
                        class="form-control shadow-sm">
                        <div class="form-label text-center">
                            <h1 class="lead fs-3 ">Add new recipe
                            </h1>
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" class="form-control" id="title" name="title" x-model="recipeToPost.title"
                                placeholder="Title" required>
                        </div>
                        <div class="form-group">
                            <label for="recipeIngredients">Ingredients</label>
                            <textarea class="form-control" id="recipeIngredients" rows="3"
                                x-model="newRecipe.ingredients" placeholder="Enter ingredients" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="recipeInstructions">Instructions</label>
                            <textarea class="form-control" id="recipeInstructions" rows="3"
                                x-model="newRecipe.instructions" placeholder="Enter instructions" required></textarea>
                        </div>
                        <div class="form-group">

                            <label for="recipeCategories">Categories</label>
                            <select class="form-control" id="recipeCategories" x-model="newRecipe.categories" multiple>
                                <template x-for="category in categoriesList">
                                    <option x-text="category.name"></option>
                                </template>
                            </select>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <input type="submit" class="btn m-2" value="Create recipe" id="submitbutton"
                                style="color: white; background-color:#2C7A48;" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-5">
                <form method="post" x-data="RecipeToPost()" x-on:submit="PostRecipe()" class="form-control shadow-sm">
                    <div class="form-label text-center">
                        <h1 class="lead fs-3 ">Add new category
                        </h1>
                    </div>
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" class="form-control" id="title" name="title" x-model="recipeToPost.title"
                            placeholder="Type category name" required>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                        <input type="submit" class="btn m-2" value="Create category" id="submitbutton"
                            style="color: white; background-color:#2C7A48;" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
<script>
    function RecipeData() {
        return {
            // other default properties
            recipes: [],
            whichRecipe: 0,
            addRecipe: false,
            FetchRecipes() {
                fetch('@recipeUrl', { method: 'GET', mode: 'cors' })
                    .then(res => res.json())
                    .then(data => {
                        this.recipes = data;
                    });
            }
        }
    }
</script>
<script>
    function CategoriesData() {
        return {
            categoriesList: [],
            FetchCategories() {
                fetch('@categoriesUrl', { method: 'GET', mode: 'cors' })
                    .then(response => response.json())
                    .then(data => this.categoriesList = data);
            }
        }
    }
</script>
<script>
    function RecipeToPost() {
        return {
            newRecipe: {
                id: @Model.GetID(),
                title: '',
                ingredients: [],
                instructions: [],
                categories: [],
            },
            PostRecipe() {
                fetch('@recipePostUrl', {
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(this.newRecipe)
                });
            }
        }
    }
</script>
}